@import url('https://fonts.googleapis.com/css?family=Fira+Sans:900|Ropa+Sans&display=swap');
/* font-family: 'Ropa Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700&display=swap');
/* font-family: 'Montserrat', sans-serif; */
header {
    width: 100%;
    height: 6vh;
    background-color: #000;
}
.logo {
    /* color: #FF8D00; */
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding: 2%;
}
.main {
    font-family: 'Ropa Sans', sans-serif;
}
/* .test {
    background: #fff;
    width: 100vw;
    height: 30vh;
}
.test img {
    width: 90vw;
    height: 30vh;
    border: solid;
} */
footer {
    width: 100vw;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(236, 236, 236);
    position: fixed;
    bottom: 0;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-size: .75em;
}

@media(max-width: 1440px) {

}
@media(max-width: 425px) {
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 5px;
    /* justify-content: center; */
    /* align-items: center; */
}
.logo {
    display: flex;
    flex-direction: column;
    margin: auto 0 auto 3%;
}
/* .ham img {
    width: 5vh;
    height: 5vh;
    padding: 10%;
    padding-right: 30%;
} */
.ham {
    width: 6vh;
    height: 6vh;
    margin: auto 5% auto 0;
    background: url("../img/ham.png");
    background-size: cover;
}
.ham:active {
    width: 6vh;
    height: 6vh;
    margin: auto 5% auto 0;
    background: url("../img/ham_hov.png");
    background-size: cover;
}
.nav {
    width: 80%;
    padding-bottom: 2%;
    display: flex;
    justify-content: space-between;

}
.lb {
    background: #000;
}
.lb img {
    width: 100vw;
    height: 2vh;
}
.hbg {
    width: 100%;
    height: 20vh;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 50%), url("../img/barbell-building-challenge-1552252.jpg");
}
.main {
    width: 100vw;
    box-shadow: 0px -1px rgba(0, 0, 0, 0.322);
}
}